{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/moviemon.css' %}">
{% endblock %}
{% block content %}
<div>
    <h3>Save Game</h3><br>
    <ul>
        <li{% if select == 0 %} class="doted"{% endif %}>Slot A - {{ slots.0 }}</li>
        <li{% if select == 1 %} class="doted"{% endif %}>Slot B - {{ slots.1 }}</li>
        <li{% if select == 2 %} class="doted"{% endif %}>Slot C - {{ slots.2 }}</li>
    </ul>
</div>


    {% include 'nav.html' %}

{% endblock %}
