{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/moviemon.css' %}">
{% endblock %}
{% block content %}
    <div class="screen">
        <h2>Moviedex : {{ capture_movies|length }} Moviemons</h2>
        <ul class="movie_li" style="columns: {{ columns }};">
            {% for movie in capture_movies %}
                <li class=" {% if forloop.counter == select  %}doted{% endif %}">
                    {%for key, values in movies.items%}
                        {% if key == movie %}
                            <img class="poster_mini" src="{{ values.Poster }}">
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
        <div class="info_cmds">
            <p>A - More information</p>
            <p>select - Back</p>
        </div>
    </div>
{% include 'nav.html' %}
{% endblock %}
